@page "/todoList"
<h3>Todo List</h3>

@if(Todos==null){
    <div>Loading</div>

}
else
{
     <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>AssigneeId</th>
                    <th>CreatedDate</th>
                </tr>
            </thead>
            <tbody>
                 @foreach(var item in Todos)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.AssigneeId</td>
                        <td>@item.CreatedDate.ToString("dd/MM/yyy hh:mm")</td>
                    </tr>
                }
            </tbody>
        </table>
   
}